<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BoxyBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <BoxyBot.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1037</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>803</value>
            </setting>
            <setting name="collectchests" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="collecteventchests" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="collectorrange" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="repathp" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="repatcorner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoJoinRaid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ammoRaid" serializeAs="String">
                <value />
            </setting>
            <setting name="CollectGlitters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShootMonsters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shootNPCs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shootRaidBoss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ammoRaidBoss" serializeAs="String">
                <value />
            </setting>
            <setting name="showLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoJoinBM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ammoBM" serializeAs="String">
                <value />
            </setting>
            <setting name="onlyFullHPNpcs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="onlyFullHPMonsters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="onlyFullHPRaidNpcs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rebuyAmmo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rebuyAmmoAmount" serializeAs="String">
                <value>10.000</value>
            </setting>
            <setting name="rebuyAmmoType" serializeAs="String">
                <value />
            </setting>
            <setting name="shootBackType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shootBackAmmo" serializeAs="String">
                <value />
            </setting>
            <setting name="rebuyHarpoonsType" serializeAs="String">
                <value />
            </setting>
            <setting name="rebuyHarpoons" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rebuyHarpoonsAmount" serializeAs="String">
                <value />
            </setting>
            <setting name="collectMeat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jumpMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usePowderRaid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usePlatesRaid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usePowderRaidBoss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usePlatesRaidBoss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usePowderBM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usePlatesBM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usePowderPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="usePlatesPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="repDesign" serializeAs="String">
                <value />
            </setting>
            <setting name="botDesign" serializeAs="String">
                <value />
            </setting>
            <setting name="useDesignChanger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxRaidRejoins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useRaidBossCandle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useRaidBossSnowman" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useFleeSmoke" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useFleeSpeed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useShootbackHPItem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useShootbackVPItem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shootbackHPItemID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shootbackVPItemID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="shootbackHPItem" serializeAs="String">
                <value />
            </setting>
            <setting name="shootbackVPItem" serializeAs="String">
                <value />
            </setting>
            <setting name="useSkyfire" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useElmosfire" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useHumanMovement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="collectCargo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="finishNPCs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="joinSameBonusMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="attackOnSight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="repatborder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jumpMapCircle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jumpMapRandom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jumpMapTimer" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ClearCache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="repAtHPRaid" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="repAtHPBM" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="rangeBMNpcs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jumpMapIfAvailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fleeToIsland" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="repairAtIsland" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignoreBoxesPlayerNearby" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="finishNPCHpLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="rebuyRaidMedallions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useActionItemID" serializeAs="String">
                <value />
            </setting>
            <setting name="useActionItemType" serializeAs="String">
                <value />
            </setting>
            <setting name="useActionItemUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="boardVCMA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="movementType" serializeAs="String">
                <value>Fixed-Waypoints</value>
            </setting>
            <setting name="prioNPCs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="betterGFX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="avoidIslands" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tasksDoneLogout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rebuyAmooSmaller" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rebuyHarpoonsSmaller" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="prioMonsters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="joinBeheLvl26" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="acceptLoginBonus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="collectWhileAttack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="avoidBeheNPCs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="rebuyKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fleeIfEnemyNearby" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="login_username" serializeAs="String">
                <value />
            </setting>
            <setting name="login_password" serializeAs="String">
                <value />
            </setting>
            <setting name="useBMAmmoChanger" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bmAmmoChanged" serializeAs="String">
                <value />
            </setting>
            <setting name="bmAmmoChangerWave" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useQuestSystem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doDaily21Quest" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useRaidBossSpeedstone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useRaidBossBloodlust" serializeAs="String">
                <value>False</value>
            </setting>
        </BoxyBot.Properties.Settings>
    </userSettings>
</configuration>
